{% extends 'base.html'%}
{% block title %}Register{% endblock %}

{% block content %}
<form method="post" action="{% url 'django_registration_register' %}">
    {% csrf_token %}

    {% for field in form %}
    <div class="mb-4">
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    
    <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700">Register</button>

</form>

{% endblock %}